body{
/*background-color: rgba(32,96,204,0.7);*/
background-image: url(RIVER.jpg);
background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		/*background-image: unset;*/
}
h1{
	color: rgb(255,141,0);
	/*border: solid gold;*/
	/*background-color: rgba(255,141,0,0.2);*/
}
h2{
	color: green;
	/*background-color: rgba(91,206,55,0.2);*/
}
/*#wlc{
	font: italic small-caps bolder 28px sans-serif;
	float: left;
	border: 0px 0px 0px 100px;
	background-color: gold;
	padding: 10px 0px 10px 10px;
	margin: auto;
	color: red;
}
#bar{
	font: italic small-caps bolder 28px sans-serif;
	background-color: red;
	padding: 10px 0px 10px 10px;
	margin: 10px 1200px 0px 10px;
	color: gold;
}
#bar2{
	color: orange;
	font-family: Roboto;
	font:bold small-caps bolder;
	border-color: darkorange;
}
#connect{
	padding-right: 10px;
	float: right;
}
a.pink{
	background-color: rgba(211,90,127,0.7);;
	color: white;
}
a.cnct{
	background-color: rgba(0,4,219,0.7);
	color: white;
}*/
#head{
	border-style: double;
	border-width:thin;
	border-color: black;
	border-collapse: all;
}
th{ border-style: double;
	border-width:thin;
	border-color: black;
	border-collapse: all;
	padding-left:20px;
	font:bold 28px sans-serif;
	text-align: left;
}
tr,td{border-style: double;
	border-width:thin;
	border-color: black;
	border-collapse: all; 
	border-color: black;
	border-collapse: all;
	padding-left:20px;
	text-align: left;
	background-color: rgba(160,142,238,0.2);
}
/*#UpTop{
	background: rgb(99,38,133);
	border-style: dotted; border-width: 10px;
	border-color: darkorange;
	margin-top: 110px;
}*/
div.header{
	background-size: cover;border: 2px solid gold;
	float: left;
}
li,a{
	display: block;
	color:white;
	text-decoration: none;
	float: right;
	/*padding-right: 10px;*/
}
li{
	padding-right: 10px;
}
div.logsign{
	float: right;
}
#Welcome{
	padding-bottom: 135px;
	/*border-bottom-style: solid;
	border-width: thin;
	border-color: blue;*/
	background-color: rgba(191,226,255,0.3);
	
}
p{
	font-family: Roboto,sans-serif;
	color: rgb(252,238,235);
	/*background-color: rgba(0,45,255,0.2);*/
}
#logo{
	margin: 1px;
}
form.signup{
	float:right;
	padding-right: 200px;
}
#Text{
	font-size: 38px;
}
