$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

body{
background-image: url(bcg.png);
background-position: center;
background-size: cover;
}
img {
      border: 3px solid;
      border-color: lighten($baseColor, 50%);
      height: $imageBig;
      margin: 0.5rem 0;
      width: $imageBig;
   }
h1{
	color: rgb(255,141,0);
	background-color: rgba(191,226,255,0.25);
}
h2{
	color: green;
	background-color: rgba(191,226,255,0.25);
}
h3{
	color: white;
}
th{
	color: black;
}
tr,td{
	background-color: rgba(0,142,238,0.2);
	color: white;
}

div.header{
	background-size: cover;border: 2px solid gold;
	float: left;
}
li,a{
	display: block;
	color:white;
	text-decoration: none;
}
a{
	text-decoration-line: underline;
	color: darkorange;
}
li{
	padding-right: 10px;
}
div.logsign{
	float: right;
}
#Welcome{
	padding-bottom: 130px;
	background-color: rgba(191,226,255,0.3);
	
}
p{
	font-family: Roboto,sans-serif;
	color: rgb(252,238,235);
}
#logo{
	margin: 1px;
	border-radius: 5px 0px 0px 0px;
}
form.signup{
	float:right;
	width: 25%;
	padding : 15px;
	margin-right: 100px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}
tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten($baseColor, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
